body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f5f7;
}

h1 {
    color: #4a90e2;
    text-align: center;
    margin-top: 80px;
    font-size: 48px;
}

h2 {
    color: #333;
    text-align: center;
    font-size: 24px;
}

nav {
    padding: 15px;
    text-align: center;
}

nav a {
    text-decoration: none;
    margin: 0 20px;
}

.container {
    padding: 20px;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

input, button {
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #3498db;
    color: #fff;
}

button:hover {
    background: #2980b9;
}

#formularioRegistro {
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

#formularioRegistro input {
    width: 100%;
    margin-bottom: 15px;
}

#formularioRegistro button {
    width: 100%;
    background: #4CAF50;
}

#formularioRegistro .cancel-button {
    background: #e74c3c;
}

#formularioRegistro .captcha {
    margin-top: 15px;
}

.search-container button img {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px; /* Lupita en la esquina inferior izquierda */
}

#paginaBusqueda nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #2c3e50;
    padding: 10px;
    text-align: center;
}

#paginaBusqueda nav a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 20px;
}

#carrito {
    margin-top: 30px;
    text-align: left;
    padding: 20px;
}